*.php
*.txt
*.json
/wp-content
/wp-admin/images
/wp-admin/includes
/wp-admin/js
/wp-admin/maint
/wp-admin/network
/wp-admin/user

/wp-includes/assets
/wp-includes/images
/wp-includes/js
/wp-includes/sodium_compat
/wp-includes/blocks
/wp-includes/certificates
/wp-includes/fonts
